.myBackground{
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
.myWhiteBox {
    background-color: white;
    padding:  25px;
    min-width: 300px;
    height: 60%;
    width: 25%;
    -webkit-box-shadow: 3px 3px 77px 4px rgba(173,92,173,0.79);
    -moz-box-shadow: 3px 3px 77px 4px rgba(173,92,173,0.79);
    box-shadow: 3px 3px 77px 4px rgba(173,92,173,0.79);}
.itemBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}
.title{
    font-size: 40px;
    color: #333;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.myForm{
    width: 100%;
}
.myButton{
    width: 100%;
    height: 45px !important;
    background: #8a8790;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #74968b, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #719a9e, #606cc3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}